/* CSS 文件：Index.css */
.api-list .ant-list-item {
  margin-bottom: 16px;
}
.api-list .ant-card {
  transition: all 0.3s ease;
}
.api-list .ant-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.api-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}


.custom-tag {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 12px;
  margin-right: 8px;
}
